<div class="flex-item">
<mat-card [style.background-color]="getbackgroundColor">
  <mat-card-content>
      <div class="table-background" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/arvid-193fa.appspot.com/o/upload%2Ftable_and_chairs.gif?alt=media&token=2c62c474-3956-475f-a3a2-3d3a911a41e2')">
        <div class="table-details-container">
          <div class="table-details">
            {{table.tableNumber}}<br/>
            {{table.tableStatus}} <br/>
          </div>
        </div>
      </div>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button type="button" color="primary" *ngIf="table.tableStatus === 'Available'" (click)="reserveTable()" >Reserve</button>
      <button mat-raised-button type="button" color="primary" *ngIf="table.tableStatus === 'Reserved'" (click)="cleanTable()">Clean</button>
      <button mat-raised-button type="button" color="primary" *ngIf="table.tableStatus === 'Cleaning'" (click)="makeAvailable()">Available</button>
  </mat-card-actions>
</mat-card>
</div>
