<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="flex-item">
    <mat-card>
      <mat-card-content style="text-align: center;">
        <div class="title-center">
          Welcome to Smoke House Grill
        </div>
        <button mat-raised-button type="button" color="primary" [routerLink]="['available-tables']" >Available Tables</button>
        <section>
          <div class="media">
            <img src="assets/smoke.jpg">
          </div>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
