<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="flex-item">
    <mat-card>
      <mat-card-content style="text-align: center;">
        <div class="title-center">
          Welcome to Smoke House Grill
        </div>
        <button mat-raised-button type="button" color="primary" [routerLink]="['available-tables']" >Available Tables</button>
        <section>
          <div class="media">
            <img src="https://firebasestorage.googleapis.com/v0/b/arvid-193fa.appspot.com/o/upload%2Fsmoke.jpg?alt=media&token=46c6c77e-e841-4ed4-83ea-5b323ebfa2ed">
          </div>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
