<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="flex-item">
    <mat-card>
      <mat-card-content style="text-align: center;">
        <div class="title-center">
          Welcome to Smoke House Grill
        </div>
        <button mat-raised-button type="button" color="primary" [routerLink]="['available-tables']" >Available Tables</button>
        <p>
          This is a simple demo application for educational purpose. This small demo will show the power of RxJS, NGRX and Observables. Observables provide powerful, precise and less error prone streams of data.
I have also added the simple architecture of one-way dataflow (smart & dumb components). I will demo an alternative to NGRX using ‘Service with a Subject’ combined with RxJS.
        </p>
        <section>
          <div class="media">
            <img src="https://firebasestorage.googleapis.com/v0/b/arvid-193fa.appspot.com/o/upload%2Fsmoke.jpg?alt=media&token=46c6c77e-e841-4ed4-83ea-5b323ebfa2ed">
          </div>

        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>
